/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Sheepshead implementation : © Peter Leigh petermleigh@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

.playertoken {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('img/tokens.png'); 
}

.playertokens{
    display: inline-block;
    position: relative;
    left: -30px;
    width: 30px;
    height: 90px;
}

.cardontable {
    position: absolute;
    width: 72px;
    height: 112px;
    background-size: 576px 448px;
    background-image: url('img/base.png');
    box-shadow: 3px 3px 3px #000000a0;
}

.cardontable_alt {
    position: absolute;
    width: 72px;
    height: 112px;
    background-size: 576px 448px;
    background-image: url('img/alt.png');
    box-shadow: 3px 3px 3px #000000a0;
}

.playertablecard {
    display: inline-block;
    position: relative;
    left: -15px;
    width: 72px;
    height: 112px;
}

#playertables {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-image: radial-gradient(darkgreen, rgb(0, 61, 0));
    border-radius: 25px;
}

#myhand_wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}

#myhand {
    position: relative;
    width: 710px;
    margin: 0;
}

.unplayable_card {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: contrast(50%);
}

.playable_card {
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
}

.help_table {
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    margin: auto;
}

.playertablename {
    font-weight: bold;
    top: 0px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
}

.playertable {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 130px;
    padding: 20px;
    border-width: 2px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.playertable_NE {
    right: 20px;
    top: 20px;
}
.playertable_SE {
    right: 20px;
    bottom: 20px;
}
.playertable_NW {
    left: 20px;
    top: 20px;
}
.playertable_SW {
    left: 20px;
    bottom: 20px;
}
.playertable_S {
    left: 50%;
    margin-left: -90px;
    bottom: 20px;
}
.playertable_info {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 130px;
    padding: 20px;
    left: 50%;
    margin-left: -90px;
    top: 20px;
}
.info_block{
    margin: 0 auto;
    padding: 5px;
}
