/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Sheepshead implementation : © Peter Leigh petermleigh@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

.playertoken {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('img/tokens.png'); 
}

.playertokens{
    display: inline-block;
    position: relative;
    left: -30px;
    width: 30px;
    height: 90px;
}

.cardontable {
    position: absolute;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg'); 
}

.playertablecard {
    display: inline-block;
    position: relative;
    left: -15px;
    width: 72px;
    height: 96px;
}

#playertables {
    position: relative;
    width: 710px;
    height: 340px;
    margin: 0 auto;
}
#myhand {
    position: relative;
    width: 710px;
    margin: 0 auto;
}

.help_table {
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
}

.playertablename {
    font-weight: bold;
}

.playertable {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 130px;
}

.playertable_NE {
    right: 0px;
    top: 0px;
}
.playertable_SE {
    right: 0px;
    bottom: 0px;
}
.playertable_NW {
    left: 0px;
    top: 0px;
}
.playertable_SW {
    left: 0px;
    bottom: 0px;
}
.playertable_S {
    left: 50%;
    margin-left: -90px;
    bottom: 0px;
}
.playertable_info {
    left: 50%;
    margin-left: -90px;
    top: 0px;
}
